@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    background-color: rgb(243 244 246);
    font-family: Arial, Helvetica, sans-serif
}

@layer components {
    .form-container {
        @apply shadow-lg rounded-lg bg-white text-xl p-12;
    }

    .form-block * {
        @apply space-y-1.5 block;
    }

    .input-field {
        @apply border-2 rounded-lg p-1;
    }

    .form-btn {
        @apply border-2 rounded-lg mx-auto px-12 py-1 bg-[#22c55e] hover:bg-[#15803d] delay-100 duration-300 ease-in-out text-white;
    }

    .hyperlink {
        @apply text-sm text-center underline text-blue-600 hover:text-blue-800;
    }
}